{
  "extends": "airbnb",
  "env": {
    "browser": true
  },
  "ecmaFeatures": { "jsx": true },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "config/dev.js"
      }
    }
  }
}
